.search {
  margin: 0 auto;
  width: 30rem;
  height: 2rem;
  vertical-align: top;
}

.input {
  width: 83%;
  height: 22px;
  padding: 2px;
}

.btn {
  width: 15%;
  height: 91%;
  border-radius: 0;
  border-block-end-style: inherit;
  vertical-align: top;
}
